<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body style="padding-top: 70px;">
        <nav class = "navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('grower') }}">Echelon Harvest Scorecard Reports</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            {% if request.endpoint == 'growerRecord' %}
                                <li><a  href="{{ url_for('grower') }}"><span class="btn btn-sm btn-warning">Change Growers</span></a></li>
                            {% endif %}
                        <li><a href="{{ url_for('uploadCSV') }}"><span class="btn btn-sm btn-success">Upload Files</span></a></li>
                            <li><a href="{{ url_for('logout') }}"><span class="btn btn-sm btn-default">Log out</span></a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}"><span class="btn btn-sm btn-default">Log in</span></a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container alert alert-success" role="alert">
            <p>
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </p>
            </div>
            {% endif %}
            {% endwith %}
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>