{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('editField', grower_id=grower_id, field_id=field_id)}}" method='post'>
            <p>Name:</p>
            <input type='text' size='30' name='name' placeholder='{{ item.name }}'>
            <p>Crop Type:</p>
            <input type='text' size='30' name='crop' placeholder='{{ item.crop }}'>
            <p>Crop Variety:</p>
            <input type='text' size='30' name='variety' placeholder='{{ item.variety }}'>
            </br>
            </br>
            <input type='submit' value='Edit'>
            <a href="{{ url_for('growerRecord', grower_id=grower_id) }}">Cancel</a>
            </form>
    </div>
{% endblock %}
