<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Echelon Reports</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Echelon Harvest Scorecard Reporting</a>
                </div>
            </div>
        </nav>
        </br>
        <div class="container">
            <h1>{{ grower.name }}</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}

            <a href ="{{ url_for('newField', grower_id = grower.id)}}">Create New Field</a>
            </br>
            {% for i in items %}
                <h3>{{i.name}} - {{i.crop}}</h3>

                <a href ="{{ url_for('editField', grower_id = grower.id, field_id = i.id)}}">Edit</a>
                </br>
                <a href ="{{ url_for('deleteField', grower_id = grower.id, field_id = i.id)}}">Delete</a>
                </br>
            {% endfor %}
            </br>
            </br>
            <a href ="{{ url_for('grower')}}">Change Growers</a>
        </div>
    </body>
</html>