<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body>
        <nav class = "navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Echelon Harvest Scorecard Reports</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log in</a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        {% if current_user.is_authenticated %}
        <div class="container">
            <h2>Growers available for scorecards:</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}

            <ul>
            {% for i in items %}
                <li><a href ="{{ url_for('growerRecord', grower_id = i.id)}}"> {{i.name}} </a></li>
            {% endfor %}
            </ul>
            </br>
            </br>
        </div>
        {% endif %}
    </body>
</html>