{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    Incorrect username or password
                </div>
            {% endif %}
        </div>
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="form-signin" action="" method="POST" novalidate>
                <h2 class="form-signin-heading">Please sign in</h2>
                </br>
                {{ form.username(class="form-control", placeholder="Username") }}
                {{ form.password(class="form-control", placeholder="Enter your password") }}
                </br>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}
