<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Harvest Scorecard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reportstyle.css') }}">
    </head>

    <body>
        <div class="page-title">
            <img class="header-img-left-title" src="{{ url_for('static', filename='Nutrien_Logo.png') }}">
            <img class="header-img-right-title" src="{{ url_for('static', filename='Echelon_Logo.png') }}">
            <img class="img-title" src="{{ url_for('static', filename='title.png') }}">
                <div id="title-text-box">
                    <h2>Harvest Scorecard</h2>
                    <p id="title-p">{{ grower.name }}</p>
                    <p id="title-p">Crop Year: {{ year }}</p>
                </div>
        </div>
        <p style="page-break-after: always" ></p>
        {% if toc == True %}
        <p style="page-break-before: always" ></p>
            <table id="field-table">
                <tr>
                    <th style="text-align: left;">Field Name</th>
                    <th style="text-align: center;">Crop Type</th>
                    <th style="text-align: center;">Right Rate Score</th>
                    <th style="text-align: center;">Application Acres</th>
                    <th style="text-align: center;">Harvest Acres</th>
                    <th style="text-align: center;">VR/Flat Rate</th>
                </tr>
                {% for page in pages %}
                {% if page.is_visible == 1 %}
                    {% if (loop.index % 23 == 0) and not loop.last %}
                    </table>
                    <p style="page-break-before: always" ></p>
                    <table id="field-table">
                        <tr>
                            <th style="text-align: left;">Field Name</th>
                            <th style="text-align: center;">Crop Type</th>
                            <th style="text-align: center;">Right Rate Score</th>
                            <th style="text-align: center;">Application Acres</th>
                            <th style="text-align: center;">Harvest Acres</th>
                            <th style="text-align: center;">VR/Flat Rate</th>
                        </tr>
                    {% endif %}
                <tr>
                    <td>{{ page.name }}</td>
                    <td style="text-align: center;">{{ page.crop }}</td>
                    <td style="text-align: center;">{{ page.harvest_score }}</td>
                    <td style="text-align: center;">{{ page.applied_acres }}</td>
                    <td style="text-align: center;">{{ page.harvest_acres }}</td>
                    <td style="text-align: center;">
                        {% if page.is_vr == 0 %}
                        <span class="toc-is-fr"><strong>Flat Rate</strong></span>
                        {% else %}
                        <span class="toc-is-vr"><strong>VR</strong></span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endif %}

        {% for page in pages %}
        {% if page.is_visible == 1 %}
        <p style="page-break-before: always" ></p>
            <div class="header">
                <img class="header-img-left" src="{{ url_for('static', filename='Nutrien_N.png') }}">
                <img class="header-img-right" src="{{ url_for('static', filename='Echelon_E.png') }}">
                <span class="header-text"><strong>{{ page.name }}</strong></span>
            </div>
            <div id="content">
                <section id="main">
                    <img id="mapimg" src="{{ url_for('static', filename='image/' + page.map_img) }}">
                    <img id="asappliedimg" src="{{ url_for('static', filename='image/' + page.applied_map_img) }}">
                </section>
                <div class="article">
                    <span class="legend-title">Yield (bu/ac)</span>

                    <div class="legend">
                        <div style="float:left">Low</div>
                        <div style="float:right">High</div>
                    </div>
                    {% if page.is_vr == 0 %}
                    <span class="is-vr"><strong>Flat Rate</strong></span>
                    {% endif %}
                </div>
                <section class="keeptogether">
                    <span><img class="reg-img" src="{{ url_for('static', filename='image/' + page.plot_img) }}"></span>
                    <div class="harvest">
                        <span class="harvest-title"><strong>Right Rate Score</strong></span>
                        <span class="harvest-score">{{ page.harvest_score }}</span>
                    </div>
                </section>
                <section class="imagelabels">
                    <span class="harvestmapimg-title"><strong>Harvest Map</strong></span>
                    <span class="asappliedmapimg-title"><strong>Application Map</strong></span>
                </section>
            </div>
            <div class="footer">
                <span id="footer-text" style="float:right">{{ page.name }}</span>
            </div>
        {% endif %}
        {% endfor %}
    </body>
</html>